@use "@/styles/index.scss" as *;

.pagination-container {
    padding: $spacing-sm;
    background-color: var(--bg-tertiary);
    border: 1px solid var(--border-medium);
    box-shadow: var(--shadow-md);
    border-radius: $radius-md;
    @include flex(row, center, center, $gapSmall);
}

.page-box {
    padding: calc(0.5*$spacing-sm) $spacing-md;
    color: var(--text-secondary);
    cursor: pointer;

    &:hover {
        border-radius: $radius-sm;
        color: var(--text-tertiary);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.page-box-active {
    background-color: var(--pagination-active);
    border-radius: $radius-md;
    border: 1px solid var(--border);
    padding: calc(0.5*$spacing-sm) $spacing-md;
    color: var(--text-tertiary);
    font-weight: $fontMediumBold;
    box-shadow: var(--shadow-md);
    cursor: pointer;
    @include flex(row, center, center);
}