@use "@/styles/index.scss" as *;

.content-progress {
    @include flex(column, flex-start, center, calc(0.5*$gapSmall));
}

.horizontal-line {
    height: 1px;
    width: 100%;
    background-color: var(--border);
}

.progress-text {
    font-size: smaller;
    color: var(--text-secondary);
}

.sidebar-icon-container {
    @include flex();
    background-color: var(--bg);
    border-radius: 50%;
    padding: $spacing-sm;
    transition: all 0.15s ease;

    &:hover {
        background-color: var(--bg-hover);
    }
}